.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 450px;
    display: inline-block;
    left: 333px;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 16px;
    padding: 10px 35px;
	align-content: center
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    position: relative;
}