.dropdown {
    position: absolute;
    top: 267px;
    display: inline-block;
    left: 332px;
    width: 91px;
    height: 47px;
}
.dropdown2 {
    position: absolute;
    top: 235px;
    display: inline-block;
    left: 245px;
    width: 78px;
    height: 39px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 16px;
    padding: 10px 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover  .dropdown-content,.dropdown2:hover .dropdown-content {
    display: block;
}

.container {
    position: relative;
}
